<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

<h3>以下の内容で送信します</h3>

<%= form_for(@record) do |f| %>
<%= f.hidden_field:content %>

<p>内容:<%= @record.content %></p>
<%= f.submit"登録する", class: 'btn btn-primary btn-block' %>
<% end %>

<%= form_for(@record, url:new_record_path, method: 'get') do |f| %>
<%= f.hidden_field :content %>
<% end %>

<br>
<%= form_for(@record, url:new_record_path, method: 'get') do |f| %>
<%= f.hidden_field :content %>
<%= f.submit'戻る', name: 'back',class: 'btn btn-default btn-block' %>
<% end %>

</div>
</div>